.flex {
    display: flex;
}
.aic {
    align-items: center;
}
.jcsb {
    justify-content: space-between;
}
.jcsa {
    justify-content: space-around;
}

.container {
    width: 95%;
    margin: 0 auto;
}

hr {
    width: 100vw; 
    margin-left: -3%;
}
